@model IEnumerable<Rocky_app.Models.ApplicationType>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary font-weight-light">Application type list</h2>
        </div>
        <div class="col-6" style="text-align: right;">
            <a asp-controller="ApplicationType" asp-action="Create" class="btn btn-primary">
                Create New Application type
            </a>
        </div>
        <br/>

        @if (Model.Any())
        {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr>
                <th>
                    Application type name
                </th>
                <th>
                    Application type order
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="width: 50%">@item.ApplicationTypeName</td>
                <td style="width: 30%">@item.DisplayOrder</td>
                <td>
                    <a asp-controller="ApplicationType" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">Edit</a>
                </td>
                <td>
                    <a asp-controller="ApplicationType" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">Delete</a>
                </td>
            </tr>

            }
            </tbody>
        </table>
        }
        else
        {
        <p>Empty</p>
        }
        
    </div>
</div>
